extends layout

block content
  h1 #{title}: #{category.name}


  p Realmente deseas borrar esta categoría?

  form(method='POST' action='')
    div.form-group
      input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )

    button.btn.btn-primary(type='submit') Borrar