extends layout

block content
  h1 #{title}: #{item.name}

  p Realmente deseas borrar este ítem?

  form(method='POST' action='')
    div.form-group
      input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )

    button.btn.btn-primary(type='submit') Borrar